button {
    width: 85px;
    height: 33px;
    border: 1px solid var(--border);
    background-color: var(--bg);
    padding: 0 1rem;
    font-family: var(--sans);
    font-size: var(--m);
    color: var(--text);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    user-select: none;
}

button:hover:not(:disabled) {
    background-color: var(--designbtn-bg);
}

button:focus-visible {
    outline: 2px solid var(--border);
    outline-offset: 2px;
}

button:disabled {
    cursor: not-allowed;
}

.icon {
    height: 1rem;
    width: auto;
}

.disabled {
    pointer-events: none;
    border: 1px solid var(--not-active);
    color: var(--not-active);
    background-color: var(--bg);
}