.stepBar {
    bottom: 0;
    position: absolute;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    height: 70px;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--not-active);
    background-color: var(--bg);
}

.stepBarLine {
    position: absolute;
    top: -1px;
    height: 1px;
    background-color: var(--border);

}