.header {
    display: flex;
    padding: 0 2rem ;
    margin-top: 1.32rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 4rem;
}
.logo {
    height: 3.63rem;
    width: auto;
    /* padding: .9rem 0; */
}
.logo, .shoppingBagIcon {
    cursor: pointer;
}

nav {
    display: flex;
    gap: 4.56rem;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    padding: 0;
}

li {
    font-family: var(--serif);
}

li a {
    color: var(--text);
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.shoppingBagIcon {
    display: block;
    width: 30px;
    height: auto;
}