
:root {
  --text: black;
  --text-grey: rgba(0, 0, 0, 0.50); 
  --bg: white;
  --border: black;
  --designbtn-bg: #E2DFDB;

  --sans: "Jost", sans-serif;
  --serif: "Lora", serif;

  --light: 200;
  --normal: 400;
  --bold: 600;

  --xs: 10px;
  --s: 12px;
  --m: 16px;
  --lg: 20px;
  --xl: 26px;
  --xxl: 34px;

  font-family: var(--sans);
  font-weight: 400;
  font-size: var(--m);
  font-style: normal;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  @media (max-width: 1024px) {
    font-size: 16px;
  }

}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

