.stepFooter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.firstStepFooter {
  justify-content: flex-end;
}

.startButton {
  width: 100%;
  padding: 0.5rem 0;
}