
.centerPosition {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.configurationPanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin-top: 11rem;
  padding: 0;
}


.container {
  display: flex;
  width: 19.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

